/* Font importing from Google font */
@import url('https://fonts.googleapis.com/css?family=Rufina&display=swap');
/* Styling body */
body{
	padding:0;
	margin:0;
	font-family: "Rufina", serif;
	font-size:20px;
	line-height:1.5;
	background-image:url("../images/backgroung.png");
	background-attachment:fixed;
}
/* Styling main container */
main{
	height:100vh;
}
/* Styling menu icon for mobile and tablet version */
#mobileIcon{
	cursor:pointer;
	font-size:3em;
	text-align:left;
	margin:0;
	padding-left:3vw;
}
/* Styling navigation */
ul{
	display:none; /* In mobile version initial menu display hidden, visible - flex. Will be visible by clicking on icon, js take care of visibility */
	flex-flow:wrap; /* I kept row wrap property to stretch menu buttoms along Y axels. */
	list-style: none; /* Remove dots in front of li */
	padding:0;
	margin:0;
	height:80vh; /* Occupied all height, but left breating space for menu icon */
	
}

li{
	flex:1 767px;
	text-align:center;
	box-sizing:border-box;
}

li a:link, li a:visited{
	
	text-decoration:none;
	font-size:2.5em;
	color:#707070;
	text-transform:uppercase;
	
}

li a:hover, li a:active {
	color:#000;
	border-bottom:1px solid red;
}

/* Footer styling */
footer{
	display:flex;
	flex-flow: column-reverse;
	
	box-sizing:border-box;
	margin:1vw;
}


.desktopfooter{
		flex-flow: row;
		justify-content:space-between;
	}

.desktopul{
		width:80%;
		margin:auto;
		display:flex;
		flex-wrap:nowrap;
		height:auto;
	}
	.desktopmobileIcon{
		display:none;
		
	}
	.desktopli a:link, .desktopli a:visited{
	border:1px solid #ccc;
	width:95%;
	display:inline-block;
	border-radius:0.5vw;
	text-decoration:none;
	font-size:1.3em;
	color:#707070;
	text-transform:uppercase;
	background-color:white;
}
	
	.desktopli a:hover, .desktopli a:active {
		box-shadow:0 1px 6px 0 rgba(32,33,36,0.28);
		color:#000;
		border-bottom:1px solid red;
	}









/* ------------------------------------------------------------------------- */
#mymap{
	display:none;
	width:100%;
	height:50%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	text-align:center;
}
.close{
	cursor:pointer;
	font-size:3em;
}










/* ------------------------------------------------------------------------- */

li{
	/* flex:1; */
}
h1{
	/* text-align:center;
	text-transform:uppercase;
	font-weight:800; */
}
h2{
	text-align:center;
}

/*Section Styling*/
section, .container {
	width:100%;
	border:1px solid #ccc;
	border-radius:15px;
	box-shadow: 2px 2px 5px rgba(32,33,36,0.28);
	padding:1% 1%;
	margin: 0 0 2% 0;
	background-color:white;
	box-sizing: border-box;
}
section p:first-line {text-indent:5%;}
img{
	float:right;
	box-shadow: 2px 2px 5px rgba(32,33,36,0.28);
	max-width:100%;
	height: auto;

}
#examplelink{
	float:none;
}
.date{
	color:gray;
	background-image:url("../images/calendar-alt.svg");
	background-repeat:no-repeat;
	
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

/*Contact form styling*/
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

	input[type=submit] {
	  background-color: rgba(32,33,36,0.28);
	  color: black;
	  padding: 12px 20px;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	}

	input[type=submit]:hover {
	  background-color: gray;
	  color:white;
	}





/* Page name animation */
#pagename{
	opacity:0;
	animation: fil 2s ease forwards;
}

@keyframes fil{
	100%{opacity:1;}
}

/* SVG display text styling container */
.displaytext{
	width:100%;
	height:100vh;
}

/* About page styling */

.travel{
	width:100%;
	height:100vh;
	border:solid 1px gold;
	display:flex;
	flex-flow:wrap row;
	justify-content:center;
	
	align-content:flex-start;
	
}
.travel img{
	flex:0 1 33.33%;
	width:100px;

}



/* About page text animation */

#logo{
	/* position:relative;
	top:10vh;
	left:50%;
	transform:translate(-50%, -50%); */
	animation: fil2 0.5s ease forwards 3s;
}
#logo path{
	stroke-dasharray:300;
	stroke-dashoffset:300;
	animation:anim2 2s ease-in-out forwards 1s;
}


@keyframes anim2{
	to{
		stroke-dashoffset:0;
	}
}
@keyframes fil2{
	from{
		fill:transparent;
	}
	to{
		fill:#6b8fc6;
	}
}



/* Style fixed background of about page */

 .wrapper {
  height: 1000px;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  word-spacing: 2px;
  letter-spacing: 0.5px;
  }
  .fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; 
  width: 100%;
  color: #fff;
  text-align: center;
  display: table;
  }
  .fixed h2 {
  display: table-cell;
  vertical-align: middle;
  }
  .scroll {
  text-align:center;
  padding: 10px 70px;
  color: #fff;
  }
  .one {
  background-image: url("../images/hobby/travel/botanicgarden-d.jpg")
  }
  .two {
  background-image: url("../images/hobby/travel/botanic-d.jpg")
  }
  .three {
  background-image: url("../images/hobby/travel/neftekamsk-d.jpg")
  }





